@using Microsoft.AspNetCore.Http

<script type="text/javascript" src="js/Home.js"></script>

<div>
    <br />
    <div class="row">

        <div id='badge_layout' class="d-none" style="display: block">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>

        <div id="tags" class="col-md-12" style="text-align: center">

        </div>
    </div>
    <br />

    <div class="container-fluid">
        <div id="index_table" class="col-sm-12" style="height: 370px"></div>

        <table id="table_form_1" class='table table-hover d-none'>
            <thead class="table-dark col-11">
                <tr>
                    <th scope="col" class='align-middle text-center col-sm-1'>Picture</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Name</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Description</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Tag</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Price</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Quantity</th>
                    <th scope="col" class='align-middle text-center col-sm-1'>Seller</th>
                    @*<th scope="col" class='align-middle text-center'>Date Added</th>*@
                    <th scope="col" class='align-middle text-center col-sm-5'></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data_tr d-none">
                    <td class=" col-sm-1">
                        <img src="https://via.placeholder.com/80x80" />

                        @*<img src="images/logo.jpg" style="width: 100px; height: 100px;" class="rounded"/>*@
                    </td>
                    <td class="name align-middle col-sm-1"></td>
                    <td class="description align-middle col-sm-1"></td>
                    <td class="tag align-middle col-sm-1"></td>
                    <td class="price align-middle col-sm-1"></td>
                    <td class="quantity align-middle text-center col-sm-1"></td>
                    <td class="seller align-middle col-sm-1"></td>
                    @*<td class="date align-middle"></td>*@
                    <td class="b align-middle">
                        <button class="btn"></button>
                        @*Add to cart / your item*@
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br />
    <div align="center">
        <div id="PagingDiv" style="display: inline-block">

        </div>
    </div>


    <div id="Page" class="d-none" style="display: inline-block">
        <a class="btn btn-outline-primary">Test</a>
    </div>
    <br />
</div>


