@using Microsoft.AspNetCore.Http

<script type="text/javascript" src="js/Home.js"></script>

<div class="container">
    <br />
    <div class="row">

        <div id='badge_layout' class="d-none" style="display: block">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>

        <div id="tags" class="col-md-12" style="text-align: center">

        </div>
    </div>
    <br />
    <div class="row">
        <div id="index_table"></div>

        <table id="table_form_1" class='table table-hover d-none'>
            <thead class="table-dark col-11">
                <tr>
                    <th scope="col" class='align-middle text-center'>Picture</th>
                    <th scope="col" class='align-middle text-center'>Name</th>
                    <th scope="col" class='align-middle text-center'>Description</th>
                    <th scope="col" class='align-middle text-center'>Tag</th>
                    <th scope="col" class='align-middle text-center'>Price</th>
                    <th scope="col" class='align-middle text-center'>Quantity</th>
                    <th scope="col" class='align-middle text-center'>Seller</th>
                    <th scope="col" class='align-middle text-center'>Date Added</th>
                    <th scope="col" class='align-middle text-center'></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data_tr d-none">
                    <td><img src="images/logo.jpg" style="width:100px;height:100px;" class="rounded" /></td>
                    <td class="name align-middle"></td>
                    <td class="description align-middle"></td>
                    <td class="tag align-middle"></td>
                    <td class="price align-middle"></td>
                    <td class="quantity align-middle text-center"></td>
                    <td class="seller align-middle"></td>
                    <td class="date align-middle"></td>
                    <td class="b align-middle">
                        <button class="btn"></button>
                        @*Add to cart / your item*@
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br/>
    
    <div id="PagingDiv" class='row' style="text-align: center">

    </div>
    
    <div id="Page" class="d-none" style="display: block">
        <a class="btn btn-outline-primary">Test</a>
    </div>
</div>


