@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Http
@using StuffForSale.Models
@model StuffForSale.Models.Order
@using Microsoft.AspNetCore.Identity

    <br />

<div class="row">
    
    <div class="col-md-5">
        <form asp-controller="Order" asp-action="PrivateSummary" asp-antiforgery="true" method="post">
        
            <h5>To process your order we need some additional info about you:</h5>

            <div class="form-group">
                <div>
                    <input asp-for="Date" value="@DateTime.Now" type="hidden" readonly="" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input asp-for="State" value="1" type="hidden" readonly="" />
                </div>
            </div>
        
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <div>
                    <input asp-for="Name" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <div>
                    <input asp-for="Surname" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address</label>
                <div>
                    <input asp-for="Address" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PostCode">Post Code</label>
                <div>
                    <input asp-for="PostCode" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="City">City</label>
                <div>
                    <input asp-for="City" type="text" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input asp-for="BuyerId" type="hidden" />
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Order Summary</button>
            </div>

            <div>
                <div asp-validation-summary="All"></div>
            </div>

        </form>

    </div>
    <div class="col-md-7">
        <img src="/images/post.jpg" style="width: 80%">

    </div>

</div>


